
.root {
    -fx-font-family: "Arial";
    -fx-font-size: 12pt;
}

/* Table Styles */

.table {
    -fx-background-color:   #fff6eb;
    -fx-background-radius: 0;
    -fx-alignment: center;
    -fx-pref-width: 1000px;
}

.table-title {
    -fx-background-color:  #123456;
    -fx-background-radius: 0;
    -fx-font-size: 14pt;
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.table-label {
    -fx-pref-width: 50px;
    -fx-pref-width: 1000px;
    -fx-alignment: center;
}

.table-header {
    -fx-background-color:  #123456;
    -fx-background-radius: 0;
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.table-row {
    -fx-background-color:   #fff6eb;
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.table-selectable-row {
    -fx-background-color:   #fff6eb;
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.table-field {
    -fx-pref-width: 50px;
    -fx-pref-width: 1000px;
    -fx-alignment: center;
}

.table-option {
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
    -fx-alignment: center;
}

.table-delete-button {
    -fx-pref-width: 1000px;
}

.table-selectable-row:hover {
    -fx-background-color: #f7d9c4;
}

/* Form Styles */

.form {
    -fx-background-color:   #fff6eb;
    -fx-background-radius: 0;
    -fx-alignment: center;
    -fx-pref-width: 1000px;
}

.form-title {
    -fx-background-color:  #123456;
    -fx-font-size: 14pt;
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.form-field {
    -fx-pref-width: 50px;
    -fx-pref-width: 1000px;
    -fx-alignment: center;
}

.form-label {
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.form-option:error {
    -fx-background-color: #ff0000;
    -fx-text-weight: bold;
}

.form-option {
    -fx-aligntment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.form-button-row {
    -fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-pref-width: 1000px;
}

.form-submit-button {
    -fx-alignment: center;
}